<!--the templete of this page is at app/views/layouts/main.html.erb-->

<p>現在位於 app/views/main/course.html.erb</p>

<!-- list all announces reference to this course -->
<% @course.announces.each do |announce| %>
    <!--the tag of the announce-->
    <%= announce.tag %>
    <!--the topic of the announce-->
    <%= announce.topic %>
    <!--the content of the announce-->
    <%= announce.content %>
<% end %>