<!--the templete for this page is at app/views/layouts/main.html.erb-->

<!--for development only, delete this block after finish this page-->
<h1>Main#stduent_index</h1>
<p>Find me in app/views/main/student_index.html.erb</p>
<!--**************************************************************-->

<!--list all announces-->
<% @courses.each do |course| %>
    <% course.announces.each do |announce| %>
        <!--the tag of the announce-->
        <%= announce.tag %>
        <!--the topic of the announce-->
        <%= announce.topic %>
        <!--the content of the announce-->
        <%= announce.content %>
    <% end %>
<% end %>