<!--the templete for this page is at app/views/layouts/main.html.erb-->

<!--for development only, delete this block after finish this page-->
<h1>Main#stduent_index</h1>
<p>Find me in app/views/main/student_index.html.erb</p>
<!--**************************************************************-->



<!--**********TO DO**********-->

<!--*************************-->