<!DOCTYPE html>
<html>
    <head>
        <!--add things you need-->
        <title>E3plus</title>
    </head>
    <body>
        <!--add other things you need-->

        <!--back home-->
        <%= link_to '回首頁', controller: 'main', action: :home %>

        <!--logout button-->
        <%= link_to '登出', controller: 'login', action: :logout %>

        <!--rails will replace yield with corresponding html files in app/views/main/-->
        <%= yield %>
        
        <!--list all courses and their links-->
        <!--just change the html tags by yourself-->
        <ul>
            <% @courses.each do |course| %>
            <li><%= link_to course.name, controller: 'main', action: :course, id: course.id %></li>
            <% end %>
        </ul>

        <!--list all calendar-->
    </body>
</html>