<!DOCTYPE html>
<html>
    <head>
        <!--add things you need-->
    </head>
    <body>
        <!--add things you need-->

        <!--rails will replace yield with html files in app/views/main/-->
        <%= yield %>
        <!--***********************************************************-->
    </body>
</html>