<!DOCTYPE html>
<html>
    <head>
        <!--add things you need-->
    </head>
    <body>
        <!--add other things you need-->


        <!--back home-->
        <%= link_to '回首頁', controller: 'main', action: :home %>

        <!--logout button-->
        <%= link_to '登出', controller: 'login', action: :logout %>

        <!--rails will replace yield with html files in app/views/main/-->
        <%= yield %>
        
        <!--list all courses-->
        <ul>
            <% @courses.each do |course| %>
            <li><%= link_to course.name, controller: 'main', action: :course, id: course.id %></li>
            <% end %>
        </ul>

        <!--list all calendar-->
    </body>
</html>